@page
@model SVS.Areas.Identity.Pages.Account.Manage.Storage.ParcelAddedModel
@{
    ViewData["Title"] = "Add Parcel";
}
<style>
    .addded-container {
        text-align: center;
        transform: translate(-25%, -20%);
    }

    .id-code { color: rgb(94, 146, 226); }

    .id-code:hover {
        color: rgb(150, 190, 252);
        text-decoration: none;
    }
</style>

<header>
    <div class="addded-container">
        <h1>Parcel <a class="id-code" asp-page="./Details" asp-route-id="@Model.RegisteredID">@Model.RegisteredID </a>succesfully added!</h1>
        <h2>
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Storage/Index">Parcels List</a>
        </h2>
    </div>
</header>