@inject SignInManager<SVSUser> SignInManager
@inject UserManager<SVSUser> UserManager


<link rel="stylesheet" href="~/css/navMenu.css"/>


<input type="checkbox" id="check" onclick="onCheck()"/>
<label for="check">
    <i class="fa fa-bars" id="btn" aria-hidden="true"></i>
    <i class="fa fa-times" id="cancel" aria-hidden="true"></i>
</label>

<div class="sidenav">
    <div class="profile-settings">
        <label class="profileSet">Profile Settings</label>
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="/Account/Manage/Index">Profile</a>
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="/Account/Manage/Email">Email</a>
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="/Account/Manage/ChangePassword">Password</a>
    </div>
    <label class="management">Manage</label>
    @if (User.IsInRole("Admin"))
    {
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Register">Add Account</a>
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Accounts">Accounts</a>
    }

    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Storage/Index">Parcels</a>
    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Storage/Create">Add Parcel</a>
    }
    <form>
        @if (User.IsInRole("Driver"))
        {
            var user = await UserManager.GetUserAsync(User);
            if (user.TwoFactorEnabled)
            {
                <a id="delivering" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/ChangeStatus">Delivering <i class="fas fa-check"></i></a>
            }
            else
            {
                <a id="waiting" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/ChangeStatus">Waiting <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i></a>
            }
        }
    </form>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new {area = ""})" method="post">
        <button type="submit" class="nav-link btn btn-link">Log out <i class="fa fa-sign-out" aria-hidden="true"></i></button>
    </form>
</div>

<script>
    function onCheck() {
        var checkBox = document.getElementById("check");
        var logo = document.getElementById("logo");

        if (checkBox.checked === true) {
            logo.style.marginLeft = "200px";
        } else {
            logo.style.marginLeft = "0px";
        }
    }
</script>