@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<style>
    .password-container {
        background: rgba(6, 26, 87, 0.95);
        border-image: linear-gradient(to bottom, rgb(41, 151, 237), rgba(0, 0, 0, 0)) 1 100%;
        border-style: solid;
        border-width: 5px;
        box-sizing: border-box;
        height: auto;
        padding: 50px 40px;
        transform: translate(0%, -10%);
        width: 450px;
    }

    label { font-size: 20px; }

    h2 {
        color: #fff;
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        text-transform: uppercase;
    }

    .password-container input {
        margin-bottom: 20px;
        outline: none;
        width: 100%;
    }

    .password-container input[type="text"],
    .password-container input[type="password"],
    .password-container input[type="email"],
    .password-container input[type="tel"] {
        background: transparent;
        background-color: none;
        border: none;
        border-bottom: 1px solid #fff;
        color: rgb(204, 232, 255);
        font-size: 16px;
        height: 40px;
        margin-bottom: 20px;
        outline: none;
        outline: none;
        outline: none;
        width: 100%;
    }
</style>
<div class="password-container">
    <h2>@ViewData["Title"]</h2>
    <form id="change-password-form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.OldPassword"></label>
            <input asp-for="Input.OldPassword" class="form-control"/>
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.NewPassword"></label>
            <input asp-for="Input.NewPassword" class="form-control"/>
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control"/>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update password</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}