@page
@model SVS.Areas.Identity.Pages.Account.Manage.Storage.ChangeStatusModel
@{
    ViewData["Title"] = "Changing status";
}
<style>
    .addded-container {
        text-align: center;
        transform: translate(-25%, -20%);
    }

    .id-code { color: rgb(94, 146, 226); }

    .id-code:hover {
        color: rgb(150, 190, 252);
        text-decoration: none;
    }
</style>

<header>
    <div class="addded-container">
        <h1>Changing status...</h1>
    </div>
</header>