@page

@model SVS.Areas.Identity.Pages.Account.Manage.AccountDelete

@{
    ViewData["Title"] = "EditAccount";
}

<h1>Delete</h1>

<h4>Model</h4>
<hr/>
<div class="row">
</div>

<div>
    <a asp-page="./Accounts">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}