@using System.Security.Claims
@using SVS.Areas.Identity.Data
<!DOCTYPE html>
@inject SignInManager<SVSUser> SignInManager
@inject UserManager<SVSUser> UserManager
<html lang="en">
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", false)
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SVS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="css/fontawesome.min.css"/>
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap"
          rel="stylesheet"/>
    <script src="https://use.fontawesome.com/a30dc5ca39.js"></script>
</head>
<body>
<header>
    <nav>
        <a href="/">
            <h2 class="logo" id="logo"></h2>
        </a>

        <ul class="nav-menu">
            @if (SignInManager.IsSignedIn(User))
            {
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Claims.First(x => x.Type == ClaimTypes.Role).Value</a>
                </li>
            }
            else
            {
                <li>
                    <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
            }
            <li>
                <a asp-area="" asp-page="/Help">Help</a>
            </li>
            <li>
                <a asp-area="" asp-page="/AboutUs">About Us</a>
            </li>
            <li>
                <a asp-area="" asp-page="/Contacts">Contacts</a>
            </li>
            <!--<li>
                <a href="#">
                    <i class="em em-us"
                       aria-role="presentation"
                       aria-label="United States Flag"></i> EN <i class="fas fa-caret-down"></i>
                </a>
                <ul>
                    <li>
                        <a href="#">
                            <i class="em em-flag-lt"
                               aria-role="presentation"
                               aria-label="Lithuania Flag"></i> LT
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="em em-us"
                               aria-role="presentation"
                               aria-label="United States Flag"></i> EN
                        </a>
                    </li>
                </ul>
            </li>-->
        </ul>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

</body>
</html>