/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    min-height: 100%;
    position: relative;
}

i {
    font-family: 'FontAwesome';
    font-style: normal;
}

.logo {
    background: url("../images/icon.png") no-repeat;
    background-position: 40% 0%;
    height: 50px;
    padding: 50px;
    width: 300px;
}

nav {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    order: 1;
    padding: 40px 40px;
}


.nav-menu {
    border-left: 6px solid rgb(40, 176, 255);
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 900;
    height: 35px;
    list-style: none;
}

.nav-menu li {
    display: inline-block;
    text-transform: uppercase;
}

.nav-menu li a {
    color: white;
    padding-left: 17px;
    padding-right: 17px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.nav-menu li a:hover { color: rgb(131, 189, 255) }

.nav-menu ul {
    background-color: #2866ec4b;
    display: block;
    font-size: 20px;
    font-weight: 400;
    opacity: 0;
    position: absolute;
    transition: 0.3s;
    visibility: hidden;
    width: 110px;
}

.nav-menu li:hover ul {
    opacity: 1;
    visibility: visible;
}

.nav-menu ul li:hover { background-color: #9bb8f84b; }

.nav-menu ul li {
    border: 1px solid rgba(255, 255, 255, 0.089);
    width: 110px;
}

body {
    background: url("../images/background.png") no-repeat fixed center center;
    background-size: cover;
    color: white;
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin-bottom: 60px;
    width: 100%;
}

h1 { color: white; }