@page
@model SVS.Pages.AboutUsModel
@{
    ViewData["Title"] = "About us";
}


<link rel="stylesheet" href="~/css/HelpPage.css" />
<div class="edit-form">
    <img src="http://i.imgur.com/n8hjYZ0.png" class="avatar">

    <div class="text">
        <b class="head2"> >>  ABOUT US<br /><br /></b>

        @*<b class="head">Where can I find the Admin panel?<br /></b>*@
        <b class="head">SVS<br /></b>
        As a leading provider of standard and express parcel services SVS operates day in day out on behalf of thousands of satisfied customers. We are part of the international SVS network and are also experts in our own domestic market. Communication is a priority at SVS – with customers, journalists and potential employees. As a company we are also very much aware of our social responsibilities.<br /><br />

    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}