@page
@model SVS.Pages.ContactsModel
@{
    ViewData["Title"] = "Contacts";
}


<link rel="stylesheet" href="~/css/HelpPage.css" />
<div class="edit-form">
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Google_Contacts_icon.svg" class="avatar">

    <div class="text">
        <b class="head2"> >>  CONTACTS<br /><br /></b>

        <b class="head">How to reach us?<br /></b>
        To reach us you can simply use contacts provided below.<br /><br />
        Gmail:  thereisntone@gmail.com<br /><br />
        Call:  +2634521999<br /><br />
        Fax number:  +1-212-9876543<br />
        Instagram:  therock


    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

