@page
@model SVS.Areas.Identity.Pages.Account.Manage.Storage.StorageModel
@inject IJsonHelper Json;
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/search.css"/>


<label class="hiddenHint" id="hiddenHint">The tracking number you entered is not valid</label>
<div class="search-bar">
    <input class="search-text" onkeydown="onSearchKey(this)" id="searchBar" placeholder="Enter tracking number..."/>
    <button class="search-button" id="searchBtn" OnClick="onSearch(document.getElementById('searchBar').value)">
        <i class="fas fa-search fa-2x"></i>
    </button>
</div>


<script>
    function onSearch(input) {
        var array = @Html.Raw(Json.Serialize(Model.Parcel));
        if (!array.some(x => x.id === input.toString())) {
            var hiddenInputs = document.getElementsByClassName("hiddenHint");
            for (var i = 0; i < hiddenInputs.length; i++) {
                hiddenInputs[i].style.opacity = 1;
                hiddenInputs[i].style.visibility = "visible";
                hiddenInputs[i].style.display = 'block';
            }
        } else {
            window.location.href = "Parcels/Details?id=" + input;
        }
    }

    function onSearchKey(input) {
        if (event.key === 'Enter') {
            var array = @Html.Raw(Json.Serialize(Model.Parcel));
            if (!array.some(x => x.id === input.value.toString())) {
                var hiddenInputs = document.getElementsByClassName("hiddenHint");
                for (var i = 0; i < hiddenInputs.length; i++) {
                    hiddenInputs[i].style.opacity = 1;
                    hiddenInputs[i].style.visibility = "visible";
                    hiddenInputs[i].style.display = 'block';
                }
            } else {
                window.location.href = "Parcels/Details?id=" + input.value;
            }
        }

    }
</script>